* {
  margin: 0;
  padding: 0;
}
 

body {
  font-family:sans-serif;
}
h1,h2,h3 {
  
  font-weight: 400;
  color: rgb(70, 70, 70);
  text-align: center;
}
.container {
  width: 1000px;
  margin: 100px auto;
}
@media all and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
.box {
  box-sizing: border-box;
  border: 1px solid lightcoral;
padding: 15px;
border-radius: 3px;;
}

.box-item {
  border: 1px solid lightcoral;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
}
.box-item:not(:last-child) {
  margin-bottom: 10px;
}
.task-list {
  padding: 0;
  list-style-type: none;
}

.task-item {
  font-weight: 200;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(221, 255, 221);
  border-radius: 3px;
  
}

.task-item:not(:last-child) {
  margin-bottom: 10px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 10px;
}

input[type="text"].input {
  box-sizing: border-box;
  padding: 10px;
  font-size: 1em;
}